html,body{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
	background-color: #3D4D54;
}

body{
	display: flex;;
	flex-direction: column;
	min-height: 100%;
	color: #63A479;
}
/*header part*/
header{
	width: 100%;
	height: 20%;
	margin-left: 20px; 
	font-size: 2rem;
	font-family: 'Oswald', sans-serif;
	
}
/*body part: display*/
.display{
	width: 100%;
	height: 10%;

}
.display h2{
	color: #63A479;
	display: flex;
	align-items: center;
	justify-content: center;
}

input{
	border-radius: 25px;
	height: 1.5rem;
}

input :hover{

}
/*.disp_search{
	display: none;
}*/

/*body part: funtion items*/
.function{
	width: 100%;
	height: 50%;
	flex: 1;
	display: flex;
	flex-direction: row;
	font-family: 'Oswald', sans-serif;
}

.function div{
	display: flex;
	height: 100%;
	margin: auto;
	flex-direction:column;
	flex: 1;
}
.function_img p{
	margin: auto;
	font-size: 1.5rem;
	font-family: 'Merriweather', serif;
}
img{
	display: flex;
	max-width: 100%;
	max-height: 100%;
	width: 50%;
	height: 100%;
	margin: auto;
}
.txt p{
	margin: auto;
	font-size: 1.3rem;
}

/*footer part*/
footer{
	width: 100%;
	height: 10%;
	text-align: center;
	text-transform: uppercase;
}
